<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="{% url 'offerupdate' offer.id %}" enctype = “multipart/form-data">
    {% csrf_token %}
    <input type="text" value="{{ offer.shop_name }}" name="shop_name">
    <input type="file" name="image">
    <input type="text" value="{{ offer.offer_name }}" name="offer_name">
    <input type="number" value="{{ offer.valid_from }}" name = "valid_from">
    <input type="number" value="{{ offer.valid_till }}" name ="valid_till">
    <input type="number" value="{{ offer.discount }}" name ="discount">
    <input type="submit" value="Submit">
</form>
</body>
</html>